@media screen and (max-width: 1440px) {

    .serv-price-box {
        font-size: 20px;
        line-height: 65px;
    }

    .offers {
        width: 400px;
        height: 500px;
    }

    .hr-prod {
        width: 350px;
    }

    .prod-discr {
        font-size: 14px;
        line-height: 32px;
    }

    .cert-card-box,
    .certif-card,
    .certif-card .back,
    .g-cert {
        width: 600px;
    }

    .certific-bonus-box {
        font-size: 20px;
        line-height: 45px;
    }

    .box-feedback {
        width: 750px;
    }

    .feedback-client {
        font-size: 14px;
    }

    .fb-slideContainer {
        height: 350px;
    }
}



@media screen and (max-width: 1280px) {

    .serv-price-box {
        font-size: 18px;
        line-height: 65px;
    }
}


@media screen and (max-width: 1024px) {

    .checkbox,
    .toggle {
        visibility: visible;
    }

    .checkbox {
        opacity: 0;
        width: 20px;
        height: 20px;
    }

    .navigation .toggle {
        position: relative;
        left: -20px;
        cursor: pointer;
    }

    .toggle > span,
    .toggle > span::after,
    .toggle > span::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: rgb(22, 21, 21);
        position: absolute;
    }

    .toggle > span::before {
        top: -7px;
    }

    .toggle > span::after {
        top: 7px;
    }

    .navigation .menu-box li {  
        width: 100%;
        border-bottom: 1.5px solid rgba(51, 91, 107, 1);
        text-align: center;
    }

    .navigation ul {
        border: 1px solid rgba(51, 91, 107, 1);
        gap: 3px;
    }

    .menu-box {
        display: inline-block;
        flex-direction: column;
        position: fixed;
        top: 15%;
        left: 75%;
        background-color: rgb(243, 243, 237, 0.9);
        width: 25%;
        visibility: hidden;
        border-radius: 20px;
    }

    .navigation .menu-box li ul {  
        width: 350px;
        border-bottom: 1.5px solid rgba(51, 91, 107, 1);
        text-align: center;
    }

    .nav_li ul {
        display: inline-block;
        flex-direction: column;
        position: fixed;
        top: 0%;
        right: 100%;
        background-color: rgb(243, 243, 237, 0.9);
        width: 25%;
        visibility: hidden;
        border-radius: 20px;
    }

    .navigation li > ul a {

        border-bottom: 0;
    }

    .navigation li:hover > ul {
        white-space: normal;
    }

    .checkbox:checked ~ .toggle > span {
        transform: rotate(45deg);
    }

    .checkbox:checked ~ .toggle > span::before {
        top: 0;
    }

    .checkbox:checked ~ .toggle > span::after {
        transform: rotate(90deg);
        top: 0;
    }

    .checkbox:checked ~ .menu-box {
        visibility: visible;
    }

    .checkbox:checked ~ .menu-box li ul {
        visibility: visible;
    }

    .slideContainer {
        width: 100%;
        height: 400px;
    }

    .sale-offers {
        gap: 20px;
        flex-wrap: wrap;
    }

    .serv-price-box {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .service-price {
        width: 550px;
        height: 250px;
    }

    .certific-bonus-box {
        flex-wrap: wrap;
    }

    .cert-card-box {
        margin-bottom: 35px;
    }

    .feedback-client {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        color: rgb(21 7 1);
    }

    .about-us-box {
        font-size: 12px;
        line-height: 25px;
    }

    .hours h4, .contacts h4 {
        padding-bottom: 35px;
    }
}


@media screen and (max-width: 950px) {

    .menu-box {
        left: 75%;
    }
}


@media screen and (max-width: 850px) {

    .slideContainer {
        width: 100%;
        height: 300px;
    }

    .nav_li ul {
        top: -70%;
        right: 100%;
    }

    h2 {
        font-size: 42px;
        line-height: 65px;
    }
    .sale-offers {
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .fb-slideContainer {
        width: 85%;
        height: 300px;
    }

    .feedback {
        padding: 70px 50px 70px 10px;
    }

    .client-pic {
        float: left;
        margin-right: 20px;
        margin-left: 30px;
    }

    .about-us-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;     
        align-items: center;
        padding: 50px;
        gap: 20px;
    }

    .about {
        width: 500px;
    }

    .contacts, .hours {
        width: 300px;
    }

    .hours h4 {
        padding-bottom: 20px;
    } 
    
    .contacts h4 {
        padding-bottom: 15px;
    }


    .prod-box h5 {
        font-size: 32px;
        line-height: 75px;
    }

    .price-list p {
        width: 550px;
        font-size: 18px;
        line-height: 35px;
    }
}


@media screen and (max-width: 700px) {
   
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    .cert-card-box,
    .certif-card,
    .certif-card .back,
    .g-cert {
        width: 450px;
        height: 250px;
    }

    .btn-cert {
        padding: 0px 15px;
    }

    .p-cert {
        padding: 15px 20px;
    }

    fieldset {
        flex-direction: column;
        width: 350px;
        font-size: 16px;
        padding: 10px;
    }

    .select-sum {
        padding: 10px 10px 20px 10px;
    }

    .field {
        margin-bottom: 10px;
    }

    .box-feedback {
        width: 650px;
    }

    .contacts, .hours {
        width: 200px;
    }


    .prod-box h5 {
        font-size: 23px;
        line-height: 55px;
    }

    .price-list p {
        width: 450px;
        font-size: 16px;
        line-height: 25px;
    }

    .price-list sub {
        font-size: 18px;
        line-height: 25px;
    }

    .page-discr {
        font-size: 18px;
        line-height: 55px;
    }
}


@media screen and (max-width: 600px) {

    h2 {
        font-size: 30px;
    }

    .service-price {
        width: 350px;
        height: 250px;
        padding: 40px 0 0 20px;
    }

    .serv-price-box {
        font-size: 16px;
        line-height: 55px;
    }

    .customer-feedback {
        padding: 50px 10px 50px 10px;
    }

    .feedback {
        padding: 50px 10px 50px 10px;
    }

    .client-pic {
        margin-left: 10px;
    }
    
    .box-feedback {
        width: auto;
    }

    .box-feedback {
        margin-left: 120px;
        align-items: flex-start;
    }

    .dotsWrapper {
        padding: 10px 160px;
    }
}



@media screen and (max-width: 500px) {

    h1 {
        font-size: 32px;
    }

    .slideContainer {
        width: 100%;
        height: 200px;
    }

    .navigation a {
        font-size: 16px;
        line-height: 25px;
    }

    .navigation .menu-box li ul {
        width: 250px;
    }

    h2 {
        font-size: 25px;
    }
    
    .offers {
        width: 320px;
        height: 400px;
    }

    .prod-box {
        font-size: 18px;
        line-height: 30px;
    }

    .prod-discr sub {
        font-size: 25px;
        line-height: 32px;
    }

    .prod-discr {
        font-size: 13px;
        line-height: 30px;
    }

    .hr-prod {
        width: 280px;
    }

    .box-feedback {
        margin-left: 75px;
    }

    .about {
        width: 350px;
    }

    .contacts, .hours {
        width: 150px;
    }

    h4 {
        font-size: 18px;
    } 

    .contacts h4 {
        padding-bottom: 0px;
    }



    .prod-box h5 {
        font-size: 18px;
        line-height: 35px;
    }

    .price-list p {
        width: 350px;
        font-size: 13px;
        line-height: 25px;
    }

    .page-discr {
        font-size: 12px;
        line-height: 30px;
    }

    .price-list sub {
        font-size: 14px;
        line-height: 25px;
    }
}



@media screen and (max-width: 375px) {

    
}



@media screen and (max-width: 320px) {

   
}